<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tw.edu.pu.cs.wrist_band">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/icon_use"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MusicPlayer5"></activity>
        <activity android:name=".MusicPlayer4" />
        <activity android:name=".MusicPlayer3" />
        <activity android:name=".MusicPlayer2" />
        <activity android:name=".MusicPlayer" />
        <activity android:name=".Mario" />
        <activity
            android:name=".Pin7Activity"
            android:theme="@style/AppTheme.NoActionBarPopMe" />
        <activity
            android:name=".Pin6Activity"
            android:theme="@style/AppTheme.NoActionBarPopMe" />
        <activity
            android:name=".Pin5Activity"
            android:theme="@style/AppTheme.NoActionBarPopMe" />
        <activity
            android:name=".Pin4Activity"
            android:theme="@style/AppTheme.NoActionBarPopMe" />
        <activity
            android:name=".Pin3Activity"
            android:theme="@style/AppTheme.NoActionBarPopMe" />
        <activity
            android:name=".Pin2Activity"
            android:theme="@style/AppTheme.NoActionBarPopMe" />
        <activity
            android:name=".PinActivity"
            android:theme="@style/AppTheme.NoActionBarPopMe" />
        <activity android:name=".Music" />
        <activity android:name=".Mapper" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".EzGame" />
        <activity
            android:name=".ExerLevel"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Level"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".socialfun"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BLECOLLECT"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UPLOADDATA"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ELDER"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MANAGEMENT"
            android:screenOrientation="portrait" />
        <activity
            android:name=".healthreport"
            android:screenOrientation="portrait" />
        <activity
            android:name=".addaccount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".delaccount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".doctorfun"
            android:screenOrientation="portrait" />
        <activity
            android:name=".resetPasswd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".resetpw"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reviseacc"
            android:screenOrientation="portrait" />
        <activity
            android:name=".reviseaccount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".analyzeData"
            android:screenOrientation="portrait" />
        <activity
            android:name=".healthre_doc"
            android:screenOrientation="portrait" />
        <activity
            android:name=".getRawDatainput"
            android:screenOrientation="portrait" />
        <activity
            android:name=".docgetrawdata"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DataInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ScanActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>